<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summit.chat.Mapper.Mysql.EmojiMapper">
    <insert id="insertEmoji">
        insert into emoji(url, content, category_id, sort, creator_id,width,height, create_time, update_time) VALUES
                                (#{url}, #{content}, #{categoryId}, #{sort}, #{creatorId},#{width},#{height}, #{createTime}, #{updateTime} )
    </insert>
    <select id="queryEmojiBy" resultType="com.summit.chat.model.vo.EmojiVO">
        select e.id,
        e.url,
        e.content,
        ec.name as categoryName,
        u.nick_name as creatorName,
        e.create_time,
        e.status,
        e.height,
        e.width
        from emoji e
        left join emoji_category ec
        on e.category_id = ec.id
        inner join user u
        on u.id = e.creator_id
        <where>
            <if test="id != null">
                and e.id = #{id}
            </if>
            <if test="content != null and content != ''">
                and e.content like concat( #{content},'%')
            </if>
            <if test="status != null">
                and e.status = #{status}
                <if test="status == 1">
                    and ec.status = 1
                </if>
            </if>
            <if test="categoryId != null">
                and e.category_id = #{categoryId}
            </if>
            <if test="creatorId != null">
                and e.creator_id = #{creatorId}
            </if>
            <if test="createTime != null">
                and e.create_time > #{createTime}
            </if>
            and e.status != 0
        </where>
    </select>
    <select id="queryEmojiList" resultType="com.summit.chat.model.vo.EmojiVO">
        select e.id, e.url, e.content,e.height,e.width , ec.name as categoryName, u.nick_name as creatorName, e.create_time, e.status
        from emoji e
                 left join emoji_category ec
                 on e.category_id = ec.id
                 left join user u
                 on u.id = CAST(e.creator_id AS UNSIGNED)
        <where>
            <if test="status != null">
                e.status = #{status}
                <if test="status == 1">
                    and ec.status = 1
                </if>
            </if>
            <if test="isDesc">
                and e.create_time &lt; #{cursor}
            </if>
            <if test="!isDesc">
                and e.create_time &gt; #{cursor}
            </if>
        </where>
        order by e.create_time
        <if test="isDesc">
            desc
        </if>
        <if test="!isDesc">
            asc
        </if>
    </select>
    <update id="updateEmoji">
        update  emoji
        <set>
            <if test="url != null &amp; url != ''">
                url = #{url},
            </if>
            <if test="content != null &amp; content != ''">
                content = #{content},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="queryEmojiByIds" resultType="com.summit.chat.model.vo.EmojiVO">
        select * from emoji
        <where>
            id in
            <foreach collection="idList" item="item" open="(" close=")" separator=",">
                 #{item}
            </foreach>
           <if test="status!= null">
               and status = #{status}
           </if>
        </where>
    </select>
    <update id="deleteEmoji">
        update emoji set status = 0 where id = #{id}
    </update>
</mapper>