<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summit.chat.Mapper.GroupMessageMapper">
    <insert id="addGroupMsg">
        insert
        into group_messages(id, group_id, sender_id, msg, create_time, message_type)
        values (#{id}, #{groupId}, #{emitterId}, #{msg}, #{createTime}, #{messageType})
    </insert>
</mapper>